Flow.json
[{"id":"7c7d3692.e327e8","type":"tab","label":"Flow","disabled":false,"info":""},{"id":"411db5d.e2b964c","type":"debug","z":"7c7d3692.e327e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":290,"y":40,"wires":[]},{"id":"437f62a6.8a530c","type":"ibmiot in","z":"7c7d3692.e327e8","authentication":"apiKey","apiKey":"a227f452.5281a8","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"1234","applicationId":"","deviceType":"+NodeMCU","eventType":"+","commandType":"","format":"json","name":"IBM IoT Input","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":false,"allLogicalInterfaces":false,"allEvents":true,"allCommands":true,"allFormats":true,"qos":0,"x":90,"y":220,"wires":[["411db5d.e2b964c","d840ad3e.842e1","348cc560.32020a","9786ead4.ac4d68"]]},{"id":"d840ad3e.842e1","type":"function","z":"7c7d3692.e327e8","name":"temperature","func":"msg.payload=msg.payload.d.temperature;\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":120,"wires":[["f80a7429.94c9c8"]]},{"id":"348cc560.32020a","type":"function","z":"7c7d3692.e327e8","name":"humidity","func":"msg.payload=msg.payload.d.humidity\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":220,"wires":[["dce9f621.015858"]]},{"id":"f80a7429.94c9c8","type":"ui_gauge","z":"7c7d3692.e327e8","d":true,"name":"","group":"99ef6204.7ffd4","order":1,"width":"5","height":"5","gtype":"gage","title":"Soil temperature","label":" 째C","format":"{{value}}","min":0,"max":"60","colors":["#00ff40","#00ff00","#00ff00"],"seg1":"","seg2":"","x":560,"y":120,"wires":[]},{"id":"dce9f621.015858","type":"ui_gauge","z":"7c7d3692.e327e8","d":true,"name":"","group":"aef5f9f8.046228","order":3,"width":"5","height":"5","gtype":"gage","title":"humidity","label":"%","format":"{{value}}","min":0,"max":"80","colors":["#ff0080","#ff0080","#ff0080"],"seg1":"","seg2":"","x":560,"y":220,"wires":[]},{"id":"9786ead4.ac4d68","type":"function","z":"7c7d3692.e327e8","name":"Object temperature","func":"msg.payload=msg.payload.d.objectTemp\nreturn msg;","outputs":1,"noerr":0,"x":310,"y":320,"wires":[["2af33977.edb7f6"]]},{"id":"2af33977.edb7f6","type":"ui_gauge","z":"7c7d3692.e327e8","d":true,"name":"","group":"404ad8de.d42298","order":5,"width":"5","height":"5","gtype":"gage","title":"Object Temp","label":" 째C","format":"{{value}}","min":0,"max":"50","colors":["#ffff00","#ffff00","#ffff00"],"seg1":"","seg2":"","x":570,"y":320,"wires":[]},{"id":"da2d09fe.209b28","type":"inject","z":"7c7d3692.e327e8","name":"","topic":"","payload":"","payloadType":"date","repeat":"3","crontab":"","once":false,"onceDelay":"1","x":90,"y":760,"wires":[["863f4ce5.1204f"]]},{"id":"863f4ce5.1204f","type":"http request","z":"7c7d3692.e327e8","name":"","method":"GET","ret":"obj","paytoqs":false,"url":"api.openweathermap.org/data/2.5/weather?q=Hyderabad,IN&appid=d9f6653eca6433ca82e9ea0c20f3071d","tls":"","persist":true,"proxy":"","authType":"","x":290,"y":760,"wires":[["7ee8b78a.1c1928","6fe57d97.c9a704","abb92733.4be248","98a032d1.4e47c"]]},{"id":"6fe57d97.c9a704","type":"change","z":"7c7d3692.e327e8","name":"temp","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.temp","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":760,"wires":[["4cbc164a.e70648","f09383.86ad0c8"]]},{"id":"abb92733.4be248","type":"change","z":"7c7d3692.e327e8","name":"humidity","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.humidity","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":820,"wires":[["dbc97f85.ff8be","6bdb2162.59667"]]},{"id":"98a032d1.4e47c","type":"change","z":"7c7d3692.e327e8","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload.main.feels_like","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":880,"wires":[["1f21555f.4785fb","18bb46d9.6955e9"]]},{"id":"7ee8b78a.1c1928","type":"debug","z":"7c7d3692.e327e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":470,"y":680,"wires":[]},{"id":"4cbc164a.e70648","type":"ui_text","z":"7c7d3692.e327e8","group":"b12708cf.899788","order":2,"width":"6","height":"1","name":"","label":"Temperature","format":"{{msg.payload}}","layout":"row-spread","x":730,"y":640,"wires":[]},{"id":"f09383.86ad0c8","type":"ui_gauge","z":"7c7d3692.e327e8","name":"","group":"404ad8de.d42298","order":1,"width":"6","height":"6","gtype":"wave","title":"Temperature ","label":" 째F","format":"{{value}}","min":0,"max":"50","colors":["#00ff00","#00ff00","#00ff00"],"seg1":"","seg2":"","x":730,"y":700,"wires":[]},{"id":"dbc97f85.ff8be","type":"ui_text","z":"7c7d3692.e327e8","group":"aef5f9f8.046228","order":4,"width":"6","height":"1","name":"","label":"Humidity","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":760,"wires":[]},{"id":"6bdb2162.59667","type":"ui_gauge","z":"7c7d3692.e327e8","name":"","group":"e3dd546.38fbea8","order":3,"width":"6","height":"6","gtype":"wave","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"400","colors":["#ffff00","#ffff00","#ffff00"],"seg1":"","seg2":"","x":720,"y":820,"wires":[]},{"id":"1f21555f.4785fb","type":"ui_text","z":"7c7d3692.e327e8","group":"99ef6204.7ffd4","order":6,"width":"6","height":"1","name":"","label":"Pressure","format":"{{msg.payload}}","layout":"row-spread","x":720,"y":880,"wires":[]},{"id":"18bb46d9.6955e9","type":"ui_gauge","z":"7c7d3692.e327e8","name":"","group":"526f9a18.566bb4","order":5,"width":"6","height":"6","gtype":"wave","title":"Pressure","label":" 째F","format":"{{value}}","min":0,"max":"500","colors":["#ff0080","#ff0080","#ff0080"],"seg1":"","seg2":"","x":720,"y":940,"wires":[]},{"id":"b80c9e71.ffeea","type":"ui_button","z":"7c7d3692.e327e8","name":"","group":"1588580f.ab97b8","order":5,"width":"9","height":"1","passthru":true,"label":"Motor ON","tooltip":"","color":"","bgcolor":"orange","icon":"","payload":"true","payloadType":"bool","topic":"","x":120,"y":1080,"wires":[["f2ea04b2.a02768"]]},{"id":"761e4378.e9200c","type":"ui_button","z":"7c7d3692.e327e8","name":"","group":"1588580f.ab97b8","order":6,"width":"9","height":"1","passthru":true,"label":"Motor OFF","tooltip":"","color":"","bgcolor":"orange","icon":"","payload":"false","payloadType":"bool","topic":"","x":130,"y":1180,"wires":[["f2ea04b2.a02768"]]},{"id":"f2ea04b2.a02768","type":"function","z":"7c7d3692.e327e8","name":"Check","func":"if(msg.payload === true)\n    msg.payload = '{\"command\":\"ON\"}'\nelse\n    msg.payload = '{\"command\":\"OFF\"}'\nreturn msg;\n","outputs":1,"noerr":0,"x":350,"y":1120,"wires":[["819df972.9a9558","1cbfd98b.fca1d6"]]},{"id":"819df972.9a9558","type":"function","z":"7c7d3692.e327e8","name":"Status","func":"var data=JSON.parse(msg.payload);\nmsg.payload=data.command;\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":1080,"wires":[["6bb667ed.bc5c98"]]},{"id":"1cbfd98b.fca1d6","type":"json","z":"7c7d3692.e327e8","name":"Motor","property":"payload","action":"","pretty":true,"x":510,"y":1140,"wires":[["5a4f0e5b.32c83"]]},{"id":"6bb667ed.bc5c98","type":"ui_text","z":"7c7d3692.e327e8","group":"c3827c74.ce187","order":6,"width":"18","height":"1","name":"","label":"Motor Status","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":1080,"wires":[]},{"id":"5a4f0e5b.32c83","type":"ibmiot out","z":"7c7d3692.e327e8","authentication":"apiKey","apiKey":"a227f452.5281a8","outputType":"cmd","deviceId":"5555","deviceType":"NodeMCU","eventCommandType":"home","format":"json","data":"data","qos":0,"name":"IBM IoT OUT","service":"registered","x":730,"y":1140,"wires":[]},{"id":"a227f452.5281a8","type":"ibmiot","z":"","name":"k","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"99ef6204.7ffd4","type":"ui_group","z":"","name":"text","tab":"e6311cf.6d5b2e","order":8,"disp":false,"width":"6","collapse":false},{"id":"aef5f9f8.046228","type":"ui_group","z":"","name":"h1 ","tab":"e6311cf.6d5b2e","order":7,"disp":false,"width":"6","collapse":false},{"id":"404ad8de.d42298","type":"ui_group","z":"","name":"","tab":"e6311cf.6d5b2e","order":1,"disp":false,"width":"6","collapse":false},{"id":"b12708cf.899788","type":"ui_group","z":"","name":"text","tab":"e6311cf.6d5b2e","order":6,"disp":false,"width":"6","collapse":false},{"id":"e3dd546.38fbea8","type":"ui_group","z":"","name":"","tab":"e6311cf.6d5b2e","order":3,"disp":false,"width":"6","collapse":false},{"id":"526f9a18.566bb4","type":"ui_group","z":"","name":"","tab":"e6311cf.6d5b2e","order":4,"disp":false,"width":"6","collapse":false},{"id":"1588580f.ab97b8","type":"ui_group","z":"","name":"motor off","tab":"e6311cf.6d5b2e","order":5,"disp":false,"width":"18","collapse":false},{"id":"c3827c74.ce187","type":"ui_group","z":"","name":"Motor Status","tab":"e6311cf.6d5b2e","order":9,"disp":false,"width":"18","collapse":false},{"id":"e6311cf.6d5b2e","type":"ui_tab","z":"","name":"IBMHC","icon":"dashboard","disabled":false,"hidden":false}]